---
export interface Props {
  size?: "default" | "lg";
  class?: string;
}
const { size = "default", class: className = "" } = Astro.props;
---

<div
  class:list={[
    "prose prose-vault max-w-screen-prose",
    size === "lg" && "text-[1.0625rem] leading-[1.7]",
    className,
  ]}
>
  <slot />
</div>
